# Import Library

In [1]:
import pickle
import json
import pandas as pd

# Load Model

In [2]:
with open('list_col_used.txt', 'r') as file_1:
  col_used = json.load( file_1)

with open('model_scaler.pkl', 'rb') as file_2:
  scaler = pickle.load( file_2)

with open('rf_model.pkl', 'rb') as file_3:
  rf_model = pickle.load(file_3)

# Inferencing

In [3]:
data_inf = {
    'limit_balance': 360000.0,
    'sex': 1,
    'education_level': 1,
    'marital_status': 1,
    'age': 38.0,
    'pay_0': -1.0,
    'pay_2': -1.0,
    'pay_3': -1.0,
    'pay_4': -1.0,
    'pay_5': -1.0,
    'pay_6': -1.0,
    'bill_amt_1': 780.0,
    'bill_amt_2': 0.0,
    'bill_amt_3': 390.0,
    'bill_amt_4': 390.0,
    'bill_amt_5': 390.0,
    'bill_amt_6': 390.0,
    'pay_amt_1': 0.0,
    'pay_amt_2': 390.0,
    'pay_amt_3': 390.0,
    'pay_amt_4': 390.0,
    'pay_amt_5': 390.0,
    'pay_amt_6': 390.0
}
data_inf = pd.DataFrame([data_inf])
data_inf

,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,360000.0,1,1,1,38.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,390.0,390.0,390.0,390.0,0.0,390.0,390.0,390.0,390.0,390.0

In [4]:
#Memisahkan data sesuai dengan data numeric dan categorical (non numeric)
data_inf_final = data_inf[col_used]

In [5]:
# Feature Scaling
data_inf_final = scaler.transform(data_inf_final)
data_inf_final = pd.DataFrame(data = data_inf_final, columns=col_used)
data_inf_final

      pay_0     pay_2     pay_3     pay_4     pay_5     pay_6
0  0.285714  0.285714  0.285714  0.285714  0.285714  0.285714

In [6]:
# Predict using Random Forest
def check_class(label):
    if label == 0:
        return 'not get default payment'
    else:
        return 'get default payment'
y_pred_inf = rf_model.predict(data_inf_final)
print('Next month the credit card will', check_class(y_pred_inf[0]))

Next month the credit card will not get default payment

c:\Users\Evaldo Raynardi\miniconda3\lib\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(